<!DOCTYPE html>
<html>
  <head>


  <title>Activity details for <%= @activity["city"] %></title>
	<meta name="description" content="Activities">
	<meta charset="utf-8">
	<script src="https://kit.fontawesome.com/f554ec71bd.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<div class="banner">



		<h1 class="title">Activities for a nice teambuilding</h1>

		<h2 class="title">Find the bests activities for a good time with your team.</h2>



</div>




  	<div class="container">

	  </div>



</body>

</html>
